.box{
    border-radius: 6px;
    width: 80px;
    height: 40px;
    margin: 50px auto;
}

.box-uno{background-color: black;

}

.box-dos{
    background-color: goldenrod;
    /* transition: property-duration */
    transition:all 2s ;
}

.box:hover {
    transform: scale(4);
}

.circlecontainer div{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
}


.circle1{
    background-color: aquamarine;
    transition:all 2s linear;
}

.circle2{
    background-color: khaki;
    transition:all 2s ease-in;
}

.circle3{
    background-color: hotpink;
    transition:all 2s ease-in-out;
}

.circle4{
    background-color: mediumpurple;
    transition:all 2s ease-out;
}

.circle5{
    background-color: mediumspringgreen;
    transition:all 2s ease;
}

.circlecontainer:hover .circle1,
.circlecontainer:hover .circle2,
.circlecontainer:hover .circle3,
.circlecontainer:hover .circle4,
.circlecontainer:hover .circle5{
    transform: translate(200px);
}


.square1, .square2{
    border-radius: 4px;
    height: 150px;
    width: 150px;
    margin: 100px;
    position: absolute;
}

.square1{
    background-color: mediumpurple;
}

.square2{
    background-color: midnightblue;
    transition: all .8s;
}

.square2:hover{
    transform: translate(40px, 40px); /* X-Y */
    opacity: 0.2;
}

.combinado{
    background-color: violet;
    height: 75px;
    width: 75px;
    margin: 50px auto;
    transition: all 2s;
}

.combinado:hover{
    transform: rotate(720deg) scale(2) translateX(120px) ;

    /* prefijos */
    /* chrome y edge */
    -webkit-transform: rotate(720deg) scale(2) translateX(120px) ;
    /* opera */
    -o-transform: rotate(720deg) scale(2) translateX(120px);
    /* mozilla */
    -moz-transform: rotate(720deg) scale(2) translateX(120px);
}


.animacion{
    width: 120px;
    height: 120px;
    margin: 50px auto;
    background-color: yellow;
}

.animacion:hover{  /* animation: name-duration */
    animation: changeColor 4s infinite;
}

@keyframes changeColor {
    0% {
        background-color: violet;
    }
    15% {
        background-color: tomato;
        border-radius: 80px;
    }
    25%{
        width: 80%;
    }
    50%{
        border: 8px solid black;
    }
    100%{
        background-color: khaki;
    }
}
